@tailwind base;
@tailwind components;
@tailwind utilities;

.lightBg1 {
  background: #ffffff;
}

.lightBg2 {
  background: #f1f5f9;
}

.darkBg1 {
  background: #282828;
  background: rgb(40, 40, 40);
}

.darkBg2 {
  background: #1a1a1a;
}

.lightColor1 {
  color: #ffffff;
}

.darkColor1 {
  color: #555555;
}

.lightColor2 {
  color: #e3e3e3;
}

.darkColor2 {
  color: #333333;
}

.custom-shadow {
  box-shadow: 0 6px 12px rgba(30, 10, 58, 0.04);
}

.custom-radius {
  border-radius: 7.5px;
}

.gradient {
  background: linear-gradient(to right bottom, gray 50%, #000000 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.placeholder-transparent {
  color: transparent;
}

.loader {
  border: 3px solid;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

.modal-shadow {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  /* box-shadow: 0 12px 24px -6px rgba(0, 0, 0, 0.1); */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.custom-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton-light {
  background: linear-gradient(90deg, #f7f7f7 25%, #ececec 50%, #f7f7f7 75%);
  background: linear-gradient(90deg, #e0e7ff 25%, #cbd5e1 50%, #e0e7ff 75%);
  background: linear-gradient(90deg, #e5e7eb 25%, #d1d5db 50%, #e5e7eb 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 2s infinite;
}

.skeleton-dark {
  background: linear-gradient(90deg, #3a3a3a 25%, #4d4d4d 50%, #3a3a3a 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 2s infinite;
}
